<!-- <div class="container">
  <div class="col-lg-12">
    <div class="center">
      <img class="" src="../../assets/eventhub-logo.png" alt="" width="180" height="250">
    </div>
  </div>
  <button class="btn btn-lg btn-primary btn-block" (click)="login()">Login With Google</button>
</div> -->

<div>
    <app-banner></app-banner>
</div>
<mat-card style="margin-top: 200px; width: 400px;">
    <img mat-card-image src= assets\logingoogle.png (click)="login()" style="cursor: pointer" >
</mat-card>