<!-- <div class="container">
  <div class="col-lg-12">
    <div class="center">
      <img class="" src="../../assets/eventhub-logo.png" alt="" width="180" height="250">
    </div>
  </div>
  <button class="btn btn-lg btn-primary btn-block" (click)="login()">Login With Google</button>

// <div>
//    <app-banner></app-banner>
// </div>
// <mat-card style="margin-top: 200px; width: 400px;">
//    <img mat-card-image src= assets\logingoogle.png (click)="login()" style="cursor: pointer" >
// </mat-card>

</div> -->


<div>
  <app-banner></app-banner>
</div>

<mat-card style="width: 400px; margin-left: auto"><p style="color: rgb(15, 13, 153)">Login with email or social account</p>

<div style="margin: 0 auto">
 <div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form [formGroup]="loginForm">
        <div class="form-group">
          <p>Email address:</p>
          <input type="email" formControlName="email" class="form-control">
        </div>
        <div class="form-group">
            <p>Password:</p>
          <input type="password" class="form-control" formControlName="password">
          <label class="error">{{errorMessage}}</label>
        </div>
        <p><button mat-raised-button color="primary" (click)="tryLogin(loginForm.value)">Login</button>        
        </p>
        </form>
    </div>
  </div>
</div>
</div>
<p></p>
  <div style="width: 350px; margin-top: 80px; margin-left: 25px;"><img mat-card-image src= assets\loginfb.png (click)="tryFacebookLogin()" style="cursor: pointer" >
  <img mat-card-image src= assets\logingoogle.png (click)="tryGoogleLogin()" style="cursor: pointer" ></div>
  
  <p>No account yet? <a routerLink="/reg">Create an account</a></p>
</mat-card>

