<mat-card>
  <mat-card-header>
    <mat-card-title>All Events</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Find by name">
      </mat-form-field>
    </div>

    <div class="example-container mat-elevation-z8">

      <mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="addDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Add Date </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.addDate}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="startDate-endDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Start-End Date </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.startDate}} - {{row.endDate}} </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="color">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Added by </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.userId}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>