<div>
  <app-banner></app-banner>
</div>

<mat-card style="width: 400px; margin-left: auto"><p style="color: rgb(15, 13, 153)">Create an account with email or log in with a social one.</p>

<div style="margin: 0 auto">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form [formGroup]="registerForm">
          <div class="form-group">
            <p>Email address</p>
            <input type="email" formControlName="email" class="form-control">
          </div>
          <div class="form-group">
            <p>Password</p>
            <input type="password" class="form-control" formControlName="password">
            <p class="error">{{errorMessage}}</p>
            <p class="success">{{successMessage}}</p>
          </div>
          <button mat-raised-button color="primary" type="submit" (click)="tryRegister(registerForm.value)" class="btn btn-default">Register</button>
        </form>
      </div>
    </div>
  </div>
  </div>
  <p></p>
  <div style="width: 350px; margin-top: 80px; margin-left: 25px;"><img mat-card-image src= assets\loginfb.png (click)="tryFacebookLogin()" style="cursor: pointer" >
  <img mat-card-image src= assets\logingoogle.png (click)="tryGoogleLogin()" style="cursor: pointer" ></div>
  
  <p>Already have an account? <a routerLink="/Login">Login!</a></p>
</mat-card>

