<!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">EventHub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/AddEvent">Add event</a>
        </li>
      </ul>
      <div class="float-right">
        <button class="btn btn-danger" (click)="logout()" style="margin-left: 10px;">Logout</button>
      </div>
    </div>
  </nav> -->

<div>
  <app-banner></app-banner>
</div>



<mat-tab-group>
  <mat-tab label="Home">
    <app-all-events></app-all-events>
  </mat-tab>

  <mat-tab label="New Event">
    <app-add-event></app-add-event>
  </mat-tab>

  <mat-tab label="My Events">
    <app-my-events></app-my-events>
  </mat-tab>

  <mat-tab label="Logout" (click)="logout()">
    <mat-card style="width: 400px; margin-left: auto,">
      <p>Click to confirm:</p>
      
        <button mat-raised-button color="primary" (click)="logout()">Logout</button>
      
    </mat-card>
  </mat-tab>



</mat-tab-group>







<!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu> -->