/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.css"; */
/* @import "~@ng-select/ng-select/themes/default.theme.css";*//*bootstrap */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";/*material design*/

body {
    background-color: #fafafa;
}

.mat-card {
    margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; width: 900px; margin-top: 20px;
}